.player {
	--player-pos-x: 1;
	--player-pos-y: 1;

	position: absolute;
	width: calc(var(--cell-size) / 3);
	height: calc(var(--cell-size) / 3);
	background-color: red;
	z-index: 99;

	// transform: translate(var(--player-pos-x), var(--player-pos-y));
	grid-row: var(--player-pos-y) / calc(1 + var(--player-pos-y));
	grid-column: var(--player-pos-x) / calc(1 + var(--player-pos-x));

	&--gold {
		background-color: gold;
		border: solid 1px black;
	}
}
